@import url("https://fonts.googleapis.com/css?family=Abel|Lato");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: "Arial", sans-serif;
  margin: 0; }
  body.has-navbar {
    padding-top: 75px; }
  body:not(.li) .li-show {
    display: none !important; }
  body.li .li-hide {
    display: none !important; }

h1, h2, h3 {
  font-family: "Abel", sans-serif; }

[data-if-do="show"] {
  display: none; }

.hide {
  display: none !important; }

@media (max-width: 374px) {
  .xxs-hide {
    display: none !important; } }
@media (min-width: 375px) {
  .xxs-show {
    display: none !important; } }
@media (max-width: 1023px) {
  .xs-hide {
    display: none !important; } }
@media (min-width: 1024px) {
  .xs-show {
    display: none !important; } }
@media (max-width: 1023px) {
  .sm-hide {
    display: none !important; } }
@media (min-width: 1024px) {
  .sm-show {
    display: none !important; } }
.margin-top-0 {
  margin-top: 0px !important; }

.margin-bottom-0 {
  margin-bottom: 0px !important; }

.margin-left-0 {
  margin-left: 0px !important; }

.margin-right-0 {
  margin-right: 0px !important; }

.padding-top-0 {
  padding-top: 0px !important; }

.padding-bottom-0 {
  padding-bottom: 0px !important; }

.padding-left-0 {
  padding-left: 0px !important; }

.padding-right-0 {
  padding-right: 0px !important; }

.margin-top-5 {
  margin-top: 5px !important; }

.margin-bottom-5 {
  margin-bottom: 5px !important; }

.margin-left-5 {
  margin-left: 5px !important; }

.margin-right-5 {
  margin-right: 5px !important; }

.padding-top-5 {
  padding-top: 5px !important; }

.padding-bottom-5 {
  padding-bottom: 5px !important; }

.padding-left-5 {
  padding-left: 5px !important; }

.padding-right-5 {
  padding-right: 5px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-left-10 {
  margin-left: 10px !important; }

.margin-right-10 {
  margin-right: 10px !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.padding-bottom-10 {
  padding-bottom: 10px !important; }

.padding-left-10 {
  padding-left: 10px !important; }

.padding-right-10 {
  padding-right: 10px !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-left-15 {
  margin-left: 15px !important; }

.margin-right-15 {
  margin-right: 15px !important; }

.padding-top-15 {
  padding-top: 15px !important; }

.padding-bottom-15 {
  padding-bottom: 15px !important; }

.padding-left-15 {
  padding-left: 15px !important; }

.padding-right-15 {
  padding-right: 15px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-left-20 {
  margin-left: 20px !important; }

.margin-right-20 {
  margin-right: 20px !important; }

.padding-top-20 {
  padding-top: 20px !important; }

.padding-bottom-20 {
  padding-bottom: 20px !important; }

.padding-left-20 {
  padding-left: 20px !important; }

.padding-right-20 {
  padding-right: 20px !important; }

a {
  color: #006f9c;
  text-decoration: none; }

.color-link {
  color: #006f9c !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 30px auto;
  width: 90%; }

.stars {
  color: #ebc109; }
  .stars > a:hover {
    text-decoration: underline; }
  .stars > a:before {
    content: "- "; }

.input-wrap {
  margin-top: 15px; }
  .input-wrap > label {
    display: block; }
    .input-wrap > label > .form-control {
      margin-top: 5px; }

.form-control {
  background: #eee;
  border: 1px solid #b7b7b7;
  font-size: 14px;
  outline: none;
  padding: 10px 0;
  text-indent: 10px;
  width: 100%; }

.content {
  background: #f3f3f3;
  min-height: calc(100vh - 75px - 75px); }
  .content #welcome img {
    background: url(../img/welcome.png);
    background-size: 100%;
    margin-bottom: -4px;
    width: 100%; }
  .content .cover {
    position: relative; }
    .content .cover > .cover-head {
      background: #858585;
      height: 250px;
      overflow: hidden;
      position: relative; }
      .content .cover > .cover-head img {
        opacity: 0.4;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%; }
    .content .cover > .cover-info {
      background: #ebebeb;
      height: 175px; }
      .content .cover > .cover-info > .cover-info-wrap {
        max-width: 984px;
        margin: 0 auto;
        padding: 0 20px; }
        .content .cover > .cover-info > .cover-info-wrap > .cover-image img {
          bottom: 20px;
          box-shadow: #000 -5px 5px 10px 0px;
          position: absolute;
          width: 200px;
          z-index: 5; }
        .content .cover > .cover-info > .cover-info-wrap > .cover-main {
          padding: 10px 0 0 210px; }
          .content .cover > .cover-info > .cover-info-wrap > .cover-main > p {
            margin: 0 0 5px 0; }
            .content .cover > .cover-info > .cover-info-wrap > .cover-main > p.cover-type a:hover {
              text-decoration: underline; }
            .content .cover > .cover-info > .cover-info-wrap > .cover-main > p.cover-buttons {
              padding: 5px 0 10px 0; }
              .content .cover > .cover-info > .cover-info-wrap > .cover-main > p.cover-buttons > a {
                margin: 0 3px 5px 0; }
          .content .cover > .cover-info > .cover-info-wrap > .cover-main > h1.cover-title {
            font-size: 2em;
            margin: 0; }
            .content .cover > .cover-info > .cover-info-wrap > .cover-main > h1.cover-title > small {
              display: block;
              font-size: 50%;
              margin-top: -6px; }
          @media (min-width: 1024px) {
            .content .cover > .cover-info > .cover-info-wrap > .cover-main {
              position: relative; }
              .content .cover > .cover-info > .cover-info-wrap > .cover-main > h1.cover-title {
                color: #FFF;
                max-width: 774px;
                overflow: hidden;
                position: absolute;
                text-overflow: ellipsis;
                top: -40px;
                white-space: nowrap; }
                .content .cover > .cover-info > .cover-info-wrap > .cover-main > h1.cover-title > small {
                  display: inline-block; } }
    @media (max-width: 1023px) {
      .content .cover > .cover-head {
        display: none; }
      .content .cover > .cover-info {
        display: table;
        height: auto;
        width: 100%; }
        .content .cover > .cover-info > .cover-info-wrap {
          display: table-row;
          width: 100%; }
          .content .cover > .cover-info > .cover-info-wrap > .cover-image,
          .content .cover > .cover-info > .cover-info-wrap > .cover-main {
            display: inline-block; }
          .content .cover > .cover-info > .cover-info-wrap > .cover-image {
            float: left;
            width: 150px; }
            .content .cover > .cover-info > .cover-info-wrap > .cover-image img {
              box-shadow: none;
              margin: 25px;
              position: inherit;
              width: 100px; }
          .content .cover > .cover-info > .cover-info-wrap > .cover-main {
            padding: 25px 25px 0 0;
            width: calc(100% - 150px - 25px); } }
    @media (max-width: 374px) {
      .content .cover > .cover-info > .cover-info-wrap > .cover-image {
        width: 130px; }
        .content .cover > .cover-info > .cover-info-wrap > .cover-image img {
          margin: 15px;
          width: 100px; }
      .content .cover > .cover-info > .cover-info-wrap > .cover-main {
        padding-top: 15px;
        width: calc(100% - 130px - 25px); } }
  .content .content-boxed {
    background: #FFF;
    box-shadow: #e6e6e6 0 0 10px 0;
    margin: 0 auto;
    max-width: 1024px; }
  .content .content-wrap > .content-sidebar .content-sidebar-main {
    padding: 20px 30px 30px 30px; }
    .content .content-wrap > .content-sidebar .content-sidebar-main > h2 {
      font-size: 1.1em;
      font-weight: bold;
      margin: 10px 0 0 0;
      text-decoration: underline; }
    .content .content-wrap > .content-sidebar .content-sidebar-main > p {
      margin: 0; }
  .content .content-wrap .login-form {
    padding: 30px; }
    .content .content-wrap .login-form > h1 {
      margin-bottom: 0; }
    .content .content-wrap .login-form > p {
      margin: 0 0 30px 0; }
    .content .content-wrap .login-form > label {
      display: block;
      margin-bottom: 15px; }
      .content .content-wrap .login-form > label > span {
        display: block;
        font-weight: bold;
        margin-bottom: 5px; }
  .content .content-wrap .content-main-content > h2 {
    color: #006f9c;
    margin: 0 0 10px 0; }
  .content .content-wrap .content-main-content > h3 {
    color: #004b69;
    margin: 0 0 5px 0; }
  @media (min-width: 1024px) {
    .content .content-wrapper {
      display: table;
      width: 100%; }
      .content .content-wrapper .content-wrap {
        display: table-row;
        width: 100%; }
        .content .content-wrapper .content-wrap .content-sidebar,
        .content .content-wrapper .content-wrap .content-main {
          display: table-cell;
          min-height: calc(100vh - 75px - 75px);
          width: 100%; }
        .content .content-wrapper .content-wrap .content-sidebar {
          background: #fafafa;
          width: 300px; }
        .content .content-wrapper .content-wrap .content-main {
          padding: 0 20px;
          width: calc(100% - 300px - 40px); }
          .content .content-wrapper .content-wrap .content-main.content-main-noside {
            width: calc(100% - 40px); } }

.community-availability > .availability {
  background: #ebebeb;
  margin-bottom: 10px;
  padding: 20px; }
  .community-availability > .availability > .availability-title {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0; }
  .community-availability > .availability > .availability-stars {
    margin: 0; }
  .community-availability > .availability > .availability-btn {
    float: right;
    margin: 3px; }
  .community-availability > .availability.availability-available .availability-btn {
    color: #339c43; }
  .community-availability > .availability.availability-reserved > *, .community-availability > .availability.availability-loan > * {
    opacity: 0.5; }
  .community-availability > .availability.availability-reserved > .availability-btn, .community-availability > .availability.availability-loan > .availability-btn {
    background: none; }

.reviews > .review {
  background: #ebebeb;
  margin-bottom: 10px;
  padding: 20px; }
  .reviews > .review > .review-title {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0; }
  .reviews > .review > .review-btn {
    float: right;
    margin: 10px 3px;
    text-align: center;
    width: 15px; }
  .reviews > .review > .review-content {
    margin: 0; }
    .reviews > .review > .review-content > .review-text:not(:empty):before {
      content: "- "; }

.recommended > .recommended-items-wrap {
  display: table;
  width: 100%; }
  .recommended > .recommended-items-wrap > .recommended-items {
    display: inline-block;
    width: 50%; }
    .recommended > .recommended-items-wrap > .recommended-items > .recommended-item {
      display: table-cell;
      padding: 0 10px;
      width: 50%; }
      .recommended > .recommended-items-wrap > .recommended-items > .recommended-item .recommended-image {
        width: 100%; }
        .recommended > .recommended-items-wrap > .recommended-items > .recommended-item .recommended-image.recommended-image-ds {
          box-shadow: #000 0 0 5px 0px; }
    @media (max-width: 1023px) {
      .recommended > .recommended-items-wrap > .recommended-items {
        display: table-row;
        width: 100%; }
        .recommended > .recommended-items-wrap > .recommended-items > .recommended-item {
          padding: 10px;
          width: 50%; } }
.recommended .recommended-items-more {
  background: #f0f0f0;
  text-align: center; }
  .recommended .recommended-items-more a {
    color: #858585; }
  .recommended .recommended-items-more h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 15px; }
@media (min-width: 1024px) {
  .recommended {
    margin-bottom: 10px; } }

.navbar {
  background: #4f4f4f;
  font-family: "Abel", sans-serif;
  height: 75px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  .navbar .navbar-container {
    height: 75px;
    margin: 0 auto;
    max-width: 1004px;
    padding: 0 10px; }
  .navbar .navbar-logo img {
    float: left;
    height: 75px; }
    @media (max-width: 374px) {
      .navbar .navbar-logo img {
        height: 55px;
        margin-top: 10px; } }
  @media (max-width: 1023px) {
    .navbar .navbar-logo {
      float: none; } }
  .navbar .navbar-nav {
    display: inline-block;
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0; }
    .navbar .navbar-nav > li {
      display: inline-block;
      position: relative; }
      .navbar .navbar-nav > li > a {
        color: #FFF;
        cursor: pointer;
        display: block;
        height: 75px;
        line-height: 75px;
        padding: 0 20px; }
      .navbar .navbar-nav > li.nav-dropdown > ul .navbar-search {
        margin: 0;
        width: 100%; }
        .navbar .navbar-nav > li.nav-dropdown > ul .navbar-search input {
          width: calc(100% - 20px - 45px); }
      @media (min-width: 1024px) {
        .navbar .navbar-nav > li.nav-dropdown > a:after {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px dashed;
          content: "";
          display: inline-block;
          height: 0;
          margin-left: 7px;
          vertical-align: middle;
          width: 0; } }
      .navbar .navbar-nav > li.nav-button > a {
        background: #757575;
        height: 45px;
        line-height: 45px;
        margin-top: 15px; }
      .navbar .navbar-nav > li.nav-button.nav-dropdown > ul {
        margin-top: 15px; }
      .navbar .navbar-nav > li > ul {
        -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        display: none;
        font-size: 1em;
        list-style: none;
        padding: 0;
        position: absolute;
        width: 250px;
        z-index: 101; }
        .navbar .navbar-nav > li > ul li {
          background: #858585; }
          .navbar .navbar-nav > li > ul li a {
            color: #FFF;
            display: block;
            padding: 6px 20px;
            width: 210px; }
          .navbar .navbar-nav > li > ul li:nth-child(even) {
            background: #8d8d8d; }
          .navbar .navbar-nav > li > ul li:hover {
            background: #929292; }
        @media (max-width: 1024px) {
          .navbar .navbar-nav > li > ul {
            font-size: 1.1em;
            left: 0;
            position: fixed;
            width: 100%; }
            .navbar .navbar-nav > li > ul > li {
              background: #858585; }
              .navbar .navbar-nav > li > ul > li a {
                padding: 15px 20px;
                width: 100%;
                width: calc(100% - 40px); } }
      .navbar .navbar-nav > li:hover > a {
        background: #575757; }
      .navbar .navbar-nav > li.active > a {
        background: dimgray; }
      .navbar .navbar-nav > li.active > ul {
        display: block; }
  .navbar .navbar-search {
    float: left;
    margin-right: 10px;
    margin-top: 15px; }
    .navbar .navbar-search input, .navbar .navbar-search button {
      background: #757575;
      border: none;
      color: #FFF;
      display: inline-block;
      float: left;
      height: 45px;
      outline: none; }
    .navbar .navbar-search input {
      padding: 0 10px;
      font-size: 1.1em;
      width: 175px; }
      .navbar .navbar-search input::-ms-input-placeholder, .navbar .navbar-search input:-moz-placeholder, .navbar .navbar-search input::-moz-placeholder, .navbar .navbar-search input::-webkit-input-placeholder, .navbar .navbar-search input::input-placeholder {
        color: #a8a8a8; }
    .navbar .navbar-search button {
      cursor: pointer;
      text-align: center;
      width: 45px; }
      .navbar .navbar-search button > .fa:nth-child(2) {
        display: none; }
    .navbar .navbar-search.active button {
      background: #828282; }
      .navbar .navbar-search.active button > .fa {
        display: none; }
      .navbar .navbar-search.active button > .fa:nth-child(2) {
        display: block; }
    .navbar .navbar-search button:hover {
      background: dimgray; }
  .navbar .navbar-right {
    float: right; }
    .navbar .navbar-right .navbar-nav > li > ul {
      right: 0; }
    .navbar .navbar-right .navbar-nav > li > a > .fa:nth-child(2) {
      display: none; }
    .navbar .navbar-right .navbar-nav > li.active > a > .fa:nth-child(1) {
      display: none; }
    .navbar .navbar-right .navbar-nav > li.active > a > .fa:nth-child(2) {
      display: inline-block; }

.footer {
  background: #4f4f4f;
  height: 75px;
  overflow: hidden;
  width: 100%; }
  .footer .footer-container {
    margin: 0 auto;
    max-width: 1004px;
    padding: 0 10px; }
  .footer .footer-logo img {
    float: left;
    height: 75px; }
    @media (max-width: 375px) {
      .footer .footer-logo img {
        height: 55px;
        margin-top: 10px; } }
  .footer .footer-right {
    float: right; }
    .footer .footer-right .footer-translate {
      background: rgba(255, 255, 255, 0.8);
      margin: 24px 5px;
      text-decoration: none; }
    .footer .footer-right .footer-license {
      float: right; }
      .footer .footer-right .footer-license img {
        height: 30px;
        margin-right: 10px;
        margin-top: 22.5px; }
  @media (max-width: 469px) {
    .footer .footer-logo {
      display: none; }
    .footer .footer-right {
      float: none; } }

.search-results {
  display: table;
  width: 100%; }
  .search-results > .result {
    background: #ebebeb;
    margin-bottom: 10px; }
    .search-results > .result > .result-wrap {
      display: table-row; }
      .search-results > .result > .result-wrap > .result-side {
        display: inline-block;
        float: right;
        vertical-align: top;
        width: 150px; }
        @media (max-width: 1023px) {
          .search-results > .result > .result-wrap > .result-side {
            float: none; } }
        @media (max-width: 374px) {
          .search-results > .result > .result-wrap > .result-side {
            width: 100px; } }
        .search-results > .result > .result-wrap > .result-side > .result-image {
          float: left; }
          .search-results > .result > .result-wrap > .result-side > .result-image > img {
            margin: 15px 15px 5px 15px;
            width: 120px; }
            @media (max-width: 374px) {
              .search-results > .result > .result-wrap > .result-side > .result-image > img {
                margin: 10px 10px 5px 10px;
                width: 80px; } }
        .search-results > .result > .result-wrap > .result-side > .result-stars > .cover-stars {
          margin-bottom: 5px; }
        .search-results > .result > .result-wrap > .result-side > .result-type {
          margin-bottom: 10px; }
      .search-results > .result > .result-wrap > .result-main {
        display: inline-block;
        padding: 25px 20px 20px 20px;
        vertical-align: top;
        width: calc(100% - 150px - 40px); }
        @media (max-width: 1023px) {
          .search-results > .result > .result-wrap > .result-main {
            padding: 25px 20px 20px 0px;
            width: calc(100% - 150px - 20px); } }
        @media (max-width: 374px) {
          .search-results > .result > .result-wrap > .result-main {
            padding: 25px 20px 20px 0px;
            width: calc(100% - 100px - 20px); } }
        .search-results > .result > .result-wrap > .result-main > .results-title,
        .search-results > .result > .result-wrap > .result-main > .results-author {
          font-family: "Abel", sans-serif;
          text-decoration: none; }
          .search-results > .result > .result-wrap > .result-main > .results-title > h2,
          .search-results > .result > .result-wrap > .result-main > .results-title > p,
          .search-results > .result > .result-wrap > .result-main > .results-author > h2,
          .search-results > .result > .result-wrap > .result-main > .results-author > p {
            margin: 0; }
        .search-results > .result > .result-wrap > .result-main > .results-info {
          margin: 0; }
          .search-results > .result > .result-wrap > .result-main > .results-info > p {
            color: #4f4f4f;
            font-size: 0.9em;
            margin: 3px 0; }
        .search-results > .result > .result-wrap > .result-main > .results-more {
          margin-top: 5px; }
          .search-results > .result > .result-wrap > .result-main > .results-more td, .search-results > .result > .result-wrap > .result-main > .results-more th {
            border: none;
            font-size: 0.8em;
            padding: 0;
            vertical-align: top; }
          .search-results > .result > .result-wrap > .result-main > .results-more tr {
            margin-top: 5px; }
            .search-results > .result > .result-wrap > .result-main > .results-more tr td:nth-child(1) {
              width: 150px; }

table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%; }
  table td, table th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left; }
  table tr:nth-child(even) {
    background: #ebebeb; }

.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  outline: none;
  padding: 10px 35px; }
  .btn.btn-default {
    background: white;
    color: #4f4f4f; }
    .btn.btn-default:hover {
      background: #f2f2f2; }
  .btn.btn-primary {
    background: #428bca;
    color: #ebebeb; }
    .btn.btn-primary:hover {
      background: #357ebd; }
  .btn.btn-danger {
    background: #d9534f;
    color: #ebebeb; }
    .btn.btn-danger:hover {
      background: #d43f3a; }
  .btn.btn-success {
    background: #339c43;
    color: #ebebeb; }
    .btn.btn-success:hover {
      background: #2d893b; }
  .btn.btn-sm {
    font-size: 0.9em;
    padding: 5px 10px; }
  .btn.btn-block {
    width: 100%; }
  @media (max-width: 1023px) {
    .btn.btn-sm-sm {
      font-size: 0.9em;
      padding: 5px 10px; } }
  @media (max-width: 1023px) {
    .btn.btn-sm-xs {
      font-size: 0.9em;
      padding: 5px 10px; } }

.collapse > .collapse-title {
  background: #858585;
  color: #FFF;
  font-size: 1.1em;
  padding: 20px 30px; }
  .collapse > .collapse-title:after {
    content: "\f054";
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    margin-top: 3.5px;
    transition: transform 0.5s; }
.collapse.active > .collapse-title {
  background: #6c6c6c; }
.collapse:not(.collapse-sm):not(.collapse-xs) > .collapse-content {
  background: #fafafa; }
.collapse:not(.collapse-sm):not(.collapse-xs):not(.active):not(.collapse-o) .collapse-content {
  display: none; }
.collapse:not(.collapse-sm):not(.collapse-xs) .collapse-content.content-main-content {
  padding: 0 30px; }
@media (max-width: 1023px) {
  .collapse.collapse-xs > .collapse-content {
    background: #fafafa; }
  .collapse.collapse-xs:not(.active):not(.collapse-o) .collapse-content {
    display: none; }
  .collapse.collapse-xs .collapse-content.content-main-content {
    padding: 30px; } }
@media (max-width: 1023px) {
  .collapse.collapse-sm > .collapse-content {
    background: #fafafa; }
  .collapse.collapse-sm:not(.active):not(.collapse-o) .collapse-content {
    display: none; }
  .collapse.collapse-sm .collapse-content.content-main-content {
    padding: 0 30px; } }
.collapse.active > .collapse-title:after {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
.collapse.active > .collapse-content {
  display: inherit; }

.lightbox > .lightbox-backdrop {
  background: #000;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200; }
.lightbox > .lightbox-content > .lightbox-close {
  color: #FFF;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 202; }
.lightbox > .lightbox-content > .lightbox-img {
  box-shadow: #000 0 0 20px 3px;
  left: 50%;
  max-width: 90%;
  position: fixed;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  width: 300px;
  z-index: 201; }

.modal {
  display: none; }
  .modal > .modal-content > .modal-close {
    color: #FFF;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 202; }
  .modal > .modal-content > .modal-main {
    background: #FFF;
    box-shadow: #000 0 0 20px 3px;
    left: 50%;
    max-width: 90%;
    position: fixed;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    width: 800px;
    z-index: 201; }
    .modal > .modal-content > .modal-main > .modal-title {
      background: #EEE;
      padding: 20px 30px; }
      .modal > .modal-content > .modal-main > .modal-title > h2 {
        margin: 0; }
    .modal > .modal-content > .modal-main > .modal-body {
      padding: 30px; }
  .modal.modal-sm > .modal-content > .modal-main {
    width: 500px; }

#modal-backdrop {
  background: #000;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200; }
